*{
    margin : 0;
    padding : 0;
    font-family: Helvetica;
}

.navbar{
    display : flex;
    position : fixed ;
    top : 0;
    width : 100%;
    background-color : black;
    z-index : 1;
}

.logo {
    width : 10%;
}

.content {
    width : 70%;
    padding : 20px;
}

.login{
    padding : 20px;
    width : 20%;
}

.login a{
    color : white;
    text-decoration: none;
    padding : 10px;
    background-color: #5c5656;
    border-radius : 5px;
}

.login a:hover{
    color : black;
    background-color: rgb(250, 250, 250);
}

.content a{
    margin : 2px;
    padding : 5px 10px;
    text-decoration:  none;
    color : white;
    padding : 20px;
}

.content a:hover{
    color : black;
    background-color : white;
}

.background1 img{
    opacity : 0.9;
    width : 100%;
    z-index : -1;
}

.bgcontent{
    padding : 30px;
    left : 800px;
    top : 300px;
    position : absolute;
    background : rgba(255, 255, 255, 0.473);
    border-radius : 20px;
    box-shadow: 10px 10px 10px #000000;
}

.bgcontent p{
    font-size:  20px;
    color : rgb(0, 0, 0);
    font-weight: 700;
}

.row1{
    display: flex;
}

.services h1{
    font-size: 30px;
    margin : 30px;
    margin-top: 0px;
    padding-top: 80px;
}
.polaroid {
    width : 30%;
    margin : 20px;
    box-shadow:2px 2px 2px 2px #5c5656;
    padding : 2%;
}

.polaroid img{
    width : 100%;
}

.polaroid p{
    padding : 20px;
    text-align: justify;
}

.polaroid a{
    margin-left : 130px;
    text-decoration: none;
    padding : 10px;
    background-color: rgb(77, 70, 70);
    color : white;
    border-radius : 10px;
}

.team h1{
    padding-top: 80px;
    margin-left : 40px;
    font-size: 30px;
}

.team_row{
    display : flex;
}

.team_details{
    padding-bottom: 30px;
    margin : 1.25%;
    width : 22.5%;
    background-color: #a5a1a1;
}

.team_details img{
    width : 80%;
    margin : 10%;
}

.team_details p{
    color : white;
    margin-left : 40px;
    text-align: justify;
}

.advert{
    width : 100%;
}

.advert img{
    width : 100%;
    z-index : -2;
}

.advert p{
    padding-top : 50px;
    font-size: 40px;
    margin-left: 30px;
}

footer{
    display: flex;
    box-shadow: 2px 2px 2px 2px black;
    background-color: #a5a1a1;
}

.footer_details{
    box-shadow: inset;
    width : 50%;
}
.footer_links a{
    color : black;
    margin-left: 30px;
    text-decoration: none;
    font-size: 25px;
}
.footer_links{
    padding: 50px;
    border-left :1px solid rgb(0, 0, 0);
    width : 50%;
}

.footer_links a:hover{
    color : white;
}

.footer_details p,h1,a{
    margin-left : 50px;
    font-size: 20px;
}

.footer_details a{
    text-decoration: none;
    color : black;
}