*{
    padding : 0;
    margin : 0;
}

.policy_content{
    position : absolute;
    top : 10%;
}

.policy_content h1{
    font-size: 30px;
}

.policy_content h2{
    margin-left: 60px;
}

.policy_content p{
    margin-left: 70px;
    margin-right: 70px;
    text-align: justify;
}